$color_link:#99F;
$color_link_hover:#44C;
$shadow_text:#000;
$color_button:#555;
$color_button_hover:#444;


// MENU

$background:#888;
$background_hover:#666;
$background_2:#FF0000;
$background_hover_2:#E20303;
$font:#FFF;
$font_2:#F00;