doctype html
html(lang="es")
 head
  title Ecotarjeta
  meta(charset="utf-8")
  link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet")
  link(href="/socket.io/socket.io.js")
  script(src="/estatico/js/handlebars.js")
  script(src="/estatico/js/socket.io.js")
  link(href="/estatico/css/app.css" rel="stylesheet")
 body
  nav(class="large-padding black white-text")
  block contenido