div.header
	label.icon(for="control_toggle"): span.glyphicon.glyphicon-cog
	input#control_toggle(type="checkbox")
	nav.menu
		ul
			a(href="../inicio"): li.icon
				span.lalala.glyphicon.glyphicon-home
				span.information: span Inicio
			a(href="../panel_administrador/"): li.icon
				span.glyphicon.glyphicon-th
				span.information: span Panel Proyectos
				
			a(href="../panel_administrador/usuarios"): li.icon
				span.glyphicon.glyphicon-user
				span.information: span Panel Usuarios
				
			a(href="../panel_gestion_usuario/corte"): li.icon
				span.glyphicon.glyphicon-fire
				span.information: span Corte
				
			a(href="../users/cerrarsession"): li.icon
				span.glyphicon.glyphicon-off
				span.information: span Sesion
