div.header
	label.icon(for="control_toggle"): span.glyphicon.glyphicon-cog
	input#control_toggle(type="checkbox")
	nav.menu
		ul
			a(href="../tarjetas/mostrar"): li.icon
				span.lalala.glyphicon.glyphicon-home
				span.information: span Inicio
			a(href="../tarjetas/"): li.icon
				span.glyphicon.glyphicon-th
				span.information: span Panel
			a(href="../panel_usuario"): li.icon
				span.glyphicon.glyphicon-user
				span.information: span Perfil
			a(href="../users/cerrarsession"): li.icon
				span.glyphicon.glyphicon-off
				span.information: span Sesion
