extends moduls/struct.jade

block libs

block content
	div.section#section_1
		label.title Cambiar contrase単a.
		form(action='/panel_usuario/editarcontra', method='post')
		
			if(messages.info)
				.message.success
				center
					span(style='font-size: 2em; color:#32cc32;')= messages.info
			div.element_content
				div.input_content
					input(type="password", name="actual" placeholder="Contrase単a actual")
				div.input_content
					input(type="password", name="nueva1" placeholder="Nueva contrase単a")
				div.input_content
					input(type="password", name="nueva2" placeholder="Confirmar contrase単a")
			div.button_content
				button Guardar
block libs_js