extends ../layout.jade
block contenido
 div(class="col-md-8 remove-float center-block text-center big-top-space")
  h1 Bienvenido a eco tarjetas (USUARIO)
  a(href="tarjetas/mostrar" class="right-space") Ver mis tarjetas

  